html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif; 
  font-size: 100%; 
  letter-spacing: 0.03em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav {
	color: #838994; 
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
  	width: 46rem;
    height: 4.7rem;
    margin: 0 auto;
    padding: 0px 15px;
}

.top-navigation .logo {
	height: 4.3em;
}

.top-navigation .links {
	float: right;
	margin-top: 25px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.links li {
	display: inline-block;
	margin-left: 1.56rem;
}

.links li:hover {
	color: #505050;
	cursor: pointer;
}

.introduction {
	background-image: url('images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 46rem;
	overflow: auto;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	margin-bottom: 0;
}

.introduction h3{
	margin-top: .5rem;
	font-size: 1.56rem;
}

.introduction .buttons {
	color: white;
    text-align: center;
    margin-top: 1.563rem;
}

button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.content{
	padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
